<%= form_for @message do |form| %>
  <p><%= form.label :to %>
  <%= form.text_field :to %></p>
  <p><%= form.label :from %>
  <%= form.text_field :from %></p>
  <p><%= form.label :body %>
  <%= form.text_area :body %></p>
  <%= form.submit %>
<% end %>
